@font-face {
    font-family: 'BitterBold';
    src: url('./fonts/Bitter-Bold-webfont.eot');
    src: url('./fonts/Bitter-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Bitter-Bold-webfont.woff') format('woff'),
         url('./fonts/Bitter-Bold-webfont.ttf') format('truetype'),
         url('./fonts/Bitter-Bold-webfont.svg#BitterBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpecialEliteRegular';
    src: url('./fonts/SpecialElite-webfont.eot');
    src: url('./fonts/SpecialElite-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/SpecialElite-webfont.woff') format('woff'),
         url('./fonts/SpecialElite-webfont.ttf') format('truetype'),
         url('./fonts/SpecialElite-webfont.svg#SpecialEliteRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}